{% extends 'base.html.twig' %}
{% block title 'Lockers' %}
{% block body %}
    <h1>List of lockers</h1>
    <table>
        <thead>
        <tr>
            <th>Locker</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for locker in lockers %}
            <tr>
                <td>
                    {{ locker.number }}
                </td>
                <td>
                    {{ locker.status|replace({'_':' '})|title }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}